<div class="scrollmenu header-style">
  <!--<span class="scroller scroller-left"><i class="fa fa-chevron-left"></i></span>-->
  <!--<span class="scroller scroller-right"><i class="fa fa-chevron-right"></i></span>-->
  <div class="wrapper">
    <ul class="nav nav-tabs list" id="myTab" [style.width]="'0px'" [style.border]="'0px'">

      <li *ngFor="let alertType of alertTypesList" [ngClass]="{'active':selectedAlertType && alertType.name==selectedAlertType.name}" >
        <app-alert-type [style.outline]="'none'" (click)="selectAlertType(alertType)" [alertType]="alertType">
        </app-alert-type>
        <!--<app-alert-type [style.outline]="'none'" (click)="selectAlertType(alertType)" [alertType]="alertType"></app-alert-type>-->
      </li>
    </ul>
  </div>
</div>
