@import "../../assets/bootstrap/bootstrap.scss";

div.scrollmenu {
  padding: 0;
  overflow: auto;
  white-space: nowrap;
}
.header-style {
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 92%, #00d6de 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(97%, #f6f6f6), color-stop(100%, #00d6de));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 92%, #00d6de 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 92%, #00d6de 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 92%, #00d6de 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 92%, #00d6de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00d6de', GradientType=0 );
}

.mat-card{
  outline:none !important;
}

div.scrollmenu li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu li:hover {
  //background-color: !important;
}

.active{
  background-color: rgba(82, 69, 69, 0.13);;
}
