<div class="main-container"  [ngStyle]="{'padding':'0'}">
  <app-top-menu #topMenu></app-top-menu>
  <app-main-menu></app-main-menu>

  <div (click)="hideMenu($event)" class="container-fluid" [ngStyle]="{'padding':'0'}">

    <div class="section-container">
      <div (click)="hideAlerts()" class="fill-content" #fillContentDiv>
        <sebm-google-map  [style.height.px]="height" #map [latitude]="mapContent.lat" [longitude]="mapContent.lng" [zoom]="16"
                         [zoomControl]="false"
                         [streetViewControl]="false">
          <sebm-google-map-marker [latitude]="mapContent.lat" [longitude]="mapContent.lng"></sebm-google-map-marker>
          <sebm-google-map-marker [latitude]="markerLatitude"
                                  [longitude]="markerLongitude"
                                  [appSocialMediaGoogleMapMarker]="appSocialMediaGoogleMapMarker" >

          </sebm-google-map-marker>
          <app-map-content [gotToCenterOnInit]="centerMap" (onErrorDialogClosed)="onErrorDialogClosed($event)" (onNgAfterViewInit)="mapLoaded($event)" #mapContent></app-map-content>
        </sebm-google-map>
        <span class="center-button" >
          <button (click)="gotoCenter()" class="header-style" md-fab md-fab-bottom-right a>
            <!--<md-icon>filter_center_focus</md-icon>-->
            <img [src]="url_img" class="contorno">
          </button>
        </span>
      </div>

      <div class="footer">

        <app-alert-types-list-scroll #alertTypesListScroll (onAlertTypeSelected)="onAlertTypeSelected($event)">

        </app-alert-types-list-scroll>
        <router-outlet (activate)="componentAdded($event)" (deactivate)="componentAdded($event)"></router-outlet>
        <!--<div class="logos">
          <app-footer></app-footer>
        </div>-->
      </div>
    </div>
  </div>
