<app-back-top-menu name="Alerts - Smart Cities"></app-back-top-menu>
  <div class="ht-container">

    <!-- #content -->
    <main id="content" role="main" itemscope="itemscope" itemprop="mainContentOfPage">
      <!-- #ht-kb -->
      <div id="hkb" class="hkb-template-single">


        <article id="post-108"
                 class="post-108 ht_kb type-ht_kb status-publish format-standard hentry ht_kb_category-settings"
                 itemtype="http://schema.org/CreativeWork" itemscope="itemscope">

          <!-- .entry-header -->
          <header class="entry-header">


            <h1 class="entry-title" itemprop="headline">
              How to enable geolocation tracking </h1>

          </header>
          <!-- /.entry-header -->

          <div class="hkb-entry-content">

            <!-- .hkb-article__content -->
            <div class="hkb-article__content entry-content" itemprop="articleBody">
              <p>By utilizing&nbsp;the&nbsp;browser’s built in geolocation feature, <b>Alerts from SmartSDK</b> allows
                you to track where you are when sending an alert. <strong>To use this feature, you must first “Enable
                  geolocation tracking” in your&nbsp;browser settings, then going to the&nbsp;Map
                  screen. </strong>Make sure 443 and 8443 ports of your network are also enabled.</p>
              <p>&nbsp;</p>
              <p>Once enabled, whenever&nbsp;you enter the page to send an alert, your browser will ask you to allow it
                to track current location. You must choose “allow” in order for&nbsp;this feature to work.&nbsp;How to
                allow&nbsp;location tracking will differ depending on your browser, but here’s what it looks like in
                Internet Explorer and Chrome:</p>
              <h2><span id="iphone-safari"><span
                class="wysiwyg-font-size-medium"><strong>iPhone (Safari)</strong></span></span></h2>
              <p><span class="wysiwyg-font-size-medium">If you’re clocking in from an iPhone, location services must be enabled&nbsp;for Safari in order for us to track your location. To enable location tracking, go to your iPhone Settings &gt; Privacy &gt; Location Services, and make sure to allow “Safari Websites” to access your location “While Using the App”. More info here:</span>
              </p>
              <p><span class="wysiwyg-font-size-medium">https://support.apple.com/en-us/HT201357</span></p>
              <p><strong>iPhone (Chrome)</strong></p>
              <p>https://support.google.com/chrome/answer/142065?hl=en</p>
              <ol>
                <li>Open your device’s settings app.</li>
                <li>From the list, touch <strong>Chrome</strong>&nbsp;.</li>
                <li>Touch&nbsp;<strong>Location.</strong></li>
                <li>Choose to either have Chrome never access your location, or allow Chrome access to your location
                  only while using the app.
                </li>
              </ol>
              <p><strong>Android (Chrome)</strong></p>
              <p>https://support.google.com/chrome/answer/142065?hl=en</p>
              <ol>
                <li>Open the Google Chrome app.</li>
                <li>Touch the Chrome menu&nbsp;<img
                  src="https://lh3.googleusercontent.com/nDJypNJU_xy3P4JqU03dQIznfoCxX6mgbWu2eFZKDBBx8cujr0RM1lupJKnlR5oEZpo=h18"
                  alt="" width="auto" height="18">.
                </li>
                <li>Touch <strong>Settings</strong> &gt; <strong>Site settings</strong> &gt; <strong>Location</strong>.
                </li>
                <li>Use the switch to either have Chrome ask before accessing your location, or to block all sites from
                  accessing your location.
                </li>
                <li>Touch the specific blocked or allowed sites to manage exceptions.</li>
              </ol>
              <h2><span id="internet-explorer-11"><span
                class="wysiwyg-font-size-medium"><strong>Internet Explorer 11</strong></span></span></h2>
              <p><img class="alignnone size-full wp-image-110"
                      src="../../../assets/img/misc/geolocation-ie.png" alt="screen18"
                      width="871" height="626"

                      sizes="(max-width: 871px) 100vw, 871px"></p>
              <!--srcset="https://www.clockspot.com/support/wp-content/uploads/2016/01/screen18.png 871w, https://www.clockspot.com/support/wp-content/uploads/2016/01/screen18-300x216.png 300w, https://www.clockspot.com/support/wp-content/uploads/2016/01/screen18-768x552.png 768w, https://www.clockspot.com/support/wp-content/uploads/2016/01/screen18-50x36.png 50w, https://www.clockspot.com/support/wp-content/uploads/2016/01/screen18-600x431.png 600w, https://www.clockspot.com/support/wp-content/uploads/2016/01/screen18-320x230.png 320w"-->
              <p><strong>Chrome</strong></p>
              <p><img class="alignnone size-full wp-image-111"
                      src="../../../assets/img/misc/geolocation-chrome.png" alt="screen19"
                      width="783" height="510"
                      sizes="(max-width: 783px) 100vw, 783px"></p>
              <p>(If you don’t see this popup, you may have to refresh the page)</p>
              <ol>
                <li>Open Chrome.</li>
                <li>In the top right,&nbsp;click the Chrome menu <img title="Chrome menu"
                                                                      src="https://lh3.googleusercontent.com/tgmsrPRh34tM4q0WYv7l-NNXDz7dqm7ftk8TyCEguoY30xkEg8lcw_ULI23ki9Q=w18-h18"
                                                                      alt="Chrome menu" width="18" height="18">.
                </li>
                <li>Click&nbsp;<strong>Settings </strong>&gt;&nbsp;<strong>Show advanced settings</strong>.</li>
                <li>In the&nbsp;“Privacy” section, click <strong>Content settings</strong>.</li>
                <li>In the dialog that appears, scroll down to the “Location” section. Select your default permission
                  for future location requests:
                  <ul>
                    <li><strong>Allow all sites to track your physical location</strong>: Select this option to let all
                      sites automatically see your location.
                    </li>
                    <li><strong>Ask&nbsp;when a site tries to track your&nbsp;physical location</strong>: Select this
                      option if you want Google Chrome to alert you whenever a site wants to see your location.
                    </li>
                    <li><strong>Do not allow any site to track your&nbsp;physical location</strong>: Select this option
                      to automatically deny requests for your location.
                    </li>
                  </ul>
                </li>
                <li>Click <a href="https://support.google.com/chrome/answer/3123708"><strong>Manage exceptions</strong></a>&nbsp;if
                  you want to&nbsp;remove&nbsp;permissions you gave before to&nbsp;specific sites.
                </li>
              </ol>
              <p>Once you send an alert with geolocation enabled, you can see this information by clicking on their
                clock time, and choosing “History”:</p>
              <p><img class="alignnone size-full wp-image-112"
                      src="../../../assets/img/misc/geolocation-final.png" alt="screen20"
                      width="1062" height="807"
                      sizes="(max-width: 1062px) 100vw, 1062px"></p>
              <p>For more accurate location tracking, we recommend using this feature on wifi. If you are connected to
                the internet via ethernet cable,&nbsp;we won’t be able to pinpoint your location as well.</p>
            </div>
            <!-- /.hkb-article__content -->
          </div>

        </article>
        <!-- #respond -->
      </div><!-- /#ht-kb -->
    </main>
    <!-- /#content -->
  </div>
