<div>
  <div class="card-header" *ngIf="userAlert.alertType">{{userAlert.alertType}}</div>
  <div class="img-thumbnail" *ngIf="userAlert.severity!=='informative' || userAlert.icon">
    <button *ngIf="userAlert.severity && userAlert.severity!=='informative'"  md-fab class="contorno-fondo" style="background-color:#00d6de">
      <img width="46px" height="46px" src="../assets/img/severity/{{userAlert.severity}}.svg" class="contorno">
    </button>
    <button *ngIf="alertType"  md-fab class="contorno-fondo" style="background-color:#00d6de">
      <img width="50px" height="50px" src="../assets/img/iconos_barra/{{alertTypeParent.icon}}.svg" class="contorno">
    </button>
    <button *ngIf="alertType && alert"  md-fab class="contorno-fondo" style="background-color:#00d6de">
      <img width="50px" height="50px" src="../assets/img/{{alertTypeParent.name}}/{{alert.icon}}.svg" class="contorno">
    </button>
  </div>
  <div class="card-block">
      <h4 class="card-title" *ngIf="userAlert.subCategory && alertType && !alertType.sendImmediately">
        {{alertEventObservedDisplay}}</h4>
      <h6 class="card-subtitle mb-2 text-muted" *ngIf="userAlert.locationDescription">
        <small>{{userAlert.locationDescription}}</small>
      </h6>
      <p class="card-text" *ngIf="userAlert.description">{{userAlert.description}}</p>
      <!--<a href="#" class="card-link">Edit</a>-->
      <a [routerLink]="['/map/viewAlert/'+userAlert.id]" class="card-link" (click)="gotoMarker()">View in map</a>
  </div>
  <div class="card-footer text-muted" *ngIf="userAlert.dateTime">{{userAlert.dateTime}}</div>
</div>
