<app-back-top-menu name="{{alertType.display}}"></app-back-top-menu>
<div class="alto sidebar-color">
  <md-sidenav-container class="alto">
    <!--<md-toolbar color="primary" (window:resize)="onResize($event)">-->
    <!--<button md-icon-button [routerLink]="['../']">-->
    <!--<md-icon>backspace</md-icon>-->
    <!--</button>-->
    <!--<h4>{{alertType.display}}</h4>-->
    <!--</md-toolbar>-->
    <md-grid-list *ngIf="alertsList" [cols]="colNumber" gutterSize="0px" class="sidebar-color">
        <md-grid-tile *ngFor="let alert of alertsList">
          <app-alert [alert]="alert" (onSelect)="onAlertSelect($event)"></app-alert>
        </md-grid-tile>
    </md-grid-list>
    <md-sidenav #sidenav align="end" class="alto sidebar-color">
      <div *ngIf="currentAlert">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="centering text-center">
              <div class="container">
                <div class="row" [style.display]='[display]'>
                  <form>
                  <div class="container-fluid">
                    <select mdInput #alertSeverity>
                      <option value="informational" selected="selected">informational</option>
                      <option value="low">low</option>
                      <option value="medium">medium</option>
                      <option value="high">high</option>
                      <option value="critical">critical</option>
                    </select>
                    <div class="row-fluid">
                      <div class="centering text-center">

                          <md-input-container>
                            <!--<label for="descriptionInput">Description</label>-->
                            <textarea rows="9" cols="50" mdInput type="text" id="descriptionInput" #alertDescription md-autofocus
                                   (keyup.enter)="onAlertSubmit(alertDescription.value, alertSeverity.value)" placeholder="Send your description!">
                            </textarea>
                          </md-input-container>

                      </div>
                    </div>
                  </div>
                  </form>
                </div>
                <md-grid-list cols="2" class="row" [style.margin-top]="[margentop]">
                  <!--<button class="backgroud-button" md-button (click)="sidenav.close()" flex="50">-->
                  <button [style.height]="[BTNheight]" [style.width]="[BTNwidth]" class="backgroud-button" md-button (click)="showArea()">
                    {{comment}}
                  </button>
                  <button [style.height]="[BTNheight]" [style.width]="[BTNwidth]"  class="backgroud-button" md-button (click)="onAlertSubmit(alertDescription.value, alertSeverity.value)" type="submit" flex="grow">
                    Done
                  </button>
                </md-grid-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-sidenav>
  </md-sidenav-container>

</div>
