<md-card
          [style.background]="'none'"
          [style.outline]="'none'"
          [style.box-shadow]="'none'"
         [style.minHeight]="'100%'"
         [style.minWidth]="'100%'"
         [style.cursor]="'pointer'"
          [style.padding]="'0px'"
         fxLayoutAlign="center center"
>
  <!--<md-card-title>{{alertType.display}}</md-card-title>-->

  <md-card-content fxLayout="column" fxLayoutAlign="center center" class="fixContent">
    <button md-fab style="outline: none" class="header-style">
      <!--<md-icon>{{alertType.icon}}</md-icon>-->
      <img [src]="url_img" class="contorno">
    </button>
  </md-card-content>
</md-card>
