<div class="col-md-4 col-md-offset-2 center">

  <md-card class="example-card">

    <img md-card-image src="assets/img/VectorLogin/LoginLogo.svg" class="imagen">


    <form name="form" #f="ngForm" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm)" novalidate>

      <div class="form-group">
        <md-input-container class="campo">
          <input mdInput placeholder="First name" type="text" class="form-control " name="firstName" required/>
        </md-input-container>
      </div>

      <div class="form-group">
        <md-input-container class="campo">
          <input mdInput placeholder="Last Name" type="text" class="form-control " name="lastName" required/>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container class="campo">
          <input mdInput placeholder="Email" type="text" class="form-control " name="email"
                 [formControl]="complexForm.controls['email']" required/>
          <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched"
               class="alert alert-danger" i18n>The email is required
          </div>
          <div *ngIf="complexForm.controls['email'].hasError('email') && complexForm.controls['email'].touched"
               class="alert alert-danger" i18n>Please enter a valid email address
          </div>
          <div *ngIf="emailInUse && complexForm.controls['email'].touched"
               class="alert alert-danger" i18n>Email address is already in use
          </div>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container class="campo">
          <input mdInput placeholder="Password" type="password" class="form-control " name="password" [formControl]="complexForm.controls['password']" required/>
          <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger" i18n>The password is required.</div>
          <div *ngIf="complexForm.controls['password'].hasError('minlength') && complexForm.controls['password'].touched" class="alert alert-danger" i18n>Password must be at least 8 characters.</div>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container class="campo">
          <input mdInput placeholder="Confirm password" type="password" class="form-control " name="password" [formControl]="complexForm.controls['confirmPassword']" required/>
          <div *ngIf="complexForm.controls['confirmPassword'].hasError('required') && complexForm.controls['confirmPassword'].touched" class="alert alert-danger" i18n>Confirm password is required</div>
          <div *ngIf="complexForm.controls['confirmPassword'].hasError('equalTo') && complexForm.controls['confirmPassword'].touched" class="alert alert-danger" i18n>Password don’t match.</div>
        </md-input-container>
      </div>

      <div class="form-group centra">
        <button class="btn btn-primary" [disabled]="!complexForm.valid" type="submit">Register</button>
        <!--<img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
        <a md-button [routerLink]="['/login']" class="btn btn-link">Cancel</a>

      </div>
    </form>

  </md-card>
</div>
